.carouselcontent{
    height: 500px;
    width: 500px;
}

.carousel-item{
    height: 100%;
width: 100%;
}

.titlehome{
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 100px;
    padding: 220px 0 ;
}

.hometitlespan{
    color: red;
    background-color: white;
}

.hometitlespan::before{
content: "T";
color: black;
}

.imgone{
    margin-top: 300px;
    padding: 15px 0 0 20px;;
    max-width: 500px;
    max-height: 500px;
}

.oneimg{
    height: 100%;
    width: 100%;
}

.textone{
    margin-top: 500px;
}